<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Test-Me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/tests']" routerLinkActive="router-link-active" >Tests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/new-test']" routerLinkActive="router-link-active" >nouveau Test !</a>
      </li>
      <li class="nav-item user-infos">
        <a class="nav-link" style="display: flex;" >
            <img src="assets/avatar.png" alt="">
           
          <div class="data">
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>