<div class="test-main">
<div class="bar">
    <span>Start Date</span>
<span>Subject</span>
<span>Classes</span>
<span>Teacher</span>
</div>
<div class="grid">
 <div class="exams-item">
<div class="cases date-case">
<span>12 sept 2023</span> <br>
<span>14:00</span>
</div>
<div class="cases subject-case">
    <span>Mathematics</span>
</div>
<div class="cases online-case">
    <span>  30 online</span>
</div>
<div class="cases"></div>
</div>
<div class="exams-item">
    <div class="cases date-case">
    <span>12 sept 2023</span> <br>
    <span>14:00</span>
    </div>
    <div class="cases subject-case">
        <span>Mathematics</span>
    </div>
    <div class="cases online-case">
        <span>  30 online</span>
    </div>
    <div class="cases"></div>
    </div> <div class="exams-item">
        <div class="cases date-case">
        <span>12 sept 2023</span> <br>
        <span>14:00</span>
        </div>
        <div class="cases subject-case">
            <span>Mathematics</span>
        </div>
        <div class="cases online-case">
            <span>  30 online</span>
        </div>
        <div class="cases"></div>
        </div>
</div>
</div>