<h2>Salut Youssef ! Voici vos Tests</h2>
<div class="main-grid">
    <div class="iten">
<span>Mathematics</span>
<br>
<span>quizz </span>
<div class="buttons">
    <button>Copy link</button> <button>View</button>
</div>
    </div>
    <div class="iten" style="background-color: cornflowerblue;">
        <span>Mathematics</span>
        <br>
        <span>quizz </span>
        <div class="buttons">
            <button>Copy link</button> <button>View</button>
        </div>
            </div>
            <div class="iten" style="background-color: blueviolet;">
                <span>Mathematics</span>
                <br>
                <span>quizz </span>
                <div class="buttons">
                    <button>Copy link</button> <button>View</button>
                </div>
                    </div>
</div>